$red-solid: rgba(208, 2, 27, 1);
$red-transparent:rgba(208, 2, 27, 0.1);

$grey-solid: rgba(74, 74, 74, 1);
$grey-transparent: rgba(74, 74, 74, 0.1);

$dark-blue: #0E1E31;
$teal-solid: rgba(80, 227, 194, 1);
$teal-transparent: rgba(80, 227, 194, 0.1);