@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Heavy.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "SF Mono";
  src: url("./assets/fonts/SFMono-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./assets//fonts/SF-Pro-Rounded-Regular.ttf");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: #f4f5f7;
}

ul {
  list-style: none;
}

.card-title__red {
  color: #d0021b;
  font: 24px "SF Pro Display";
  font-weight: 300;
  font-style: italic;
}

.card-text__large {
  font: 48px "SF Pro Display";
  font-weight: 900;
  color: #000;
}
